@model dynamic

@{
    ViewBag.Title = "Access Denied";
    Layout = "_Layout";
}

<div class="container my-5">
    <h1>Access Denied</h1>
    <p>You are not authorized to access this page.</p>
</div>
<style>
        body {
            text-align: center;
        }
        h1 {
            font-size: 2em;
            margin-top: 100px;
        }
</style>